[Desktop Entry]
Type=Application
Exec=/home/deck/.local/bin/xrand-scale-deck
Hidden=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
Name=scale-deck
Comment=Scale deck screen
