# Bins
bin/mongosh
bin/sourcery
bin/az*
bin/pygmentize
bin/node-gyp
bin/nopt
bin/prettier
bin/semver
bin/yarn
bin/yarnpkg

# configs
configs/unlinked/pcloud/data.db
configs/dot-config/nvim/lazy-lock.json
