[submodule "aemonge.github.io"]
  path = aemonge.github.io
  url = git@github.com:aemonge/aemonge.github.io.git
[submodule "projects/alicia"]
  path = projects/alicia
  url = git@github.com:aemonge/alicia.git
