#!/bin/bash

# System
alias open="xdg-open"
alias xcopy="xclip -sel clip"
alias xpaste="xclip -sel clip -o"
alias ll='tree -Chl -L 3 --dirsfirst'

# Vim
alias vcd=~/usr/bin/vcd
alias f='vim $(fzf)'

# Docker
# alias docker-clean="docker kill $(docker ps -q | xargs); docker volume rm $(docker volume ls -q | xargs);  docker image rm -f $(docker image ls -q | xargs)"
# alias docker-force-clean="docker system prune --all --volumes --force && docker kill \$(docker ps -q) && docker rm \$(docker ps -a -q) && docker rmi \$(docker images -q)"
