{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "singleQuote": false,
    "printWidth": 88,
    "proseWrap": "always",
    "plugins": ["prettier-plugin-jinja-template"],
     "overrides": [
       {
         "files": ["*.html"],
         "options": {
           "parser": "jinja-template"
         }
       }
     ]
}
