[Unit]
Description=Check USB
Before=sddm.service

[Service]
Type=oneshot
ExecStart=/home/deck/usr/sbin/is-legion-plugged

[Install]
WantedBy=graphical.target
