[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud
Comment=pcloudstartup script
Exec=/home/aemonge/opt/pcloud
StartupNotify=false
Terminal=false