[Desktop Entry]
Type=Application
Exec=bash -c '"/usr/bin/video-wallpaper.sh" --start "abandoned/post-apocalyptic-city-moewalls-com.HD.mp4"'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=video-wallpaper