[Desktop Entry]
Exec=/home/deck/usr/sbin/xrand-scale-deck
Icon=dialog-scripts
Name=xrand-scale-deck
Path=
Type=Application
X-KDE-AutostartScript=true
