[Desktop Entry]
Exec=/home/deck/.local/bin/xrand-scale-deck
Icon=dialog-scripts
Name=xrand-scale-deck
Path=
Type=Application
X-KDE-AutostartScript=true
