[flake8]

inline-quotes = double
docstring-convention = numpy
exclude = .git, __pycache__, docs, venv, *.egg, build, *__init__.py, dockerfiles, */tests/*, *spec.py
max-line-length = 88
extend-ignore = E203, W503, D107
max-module-lines = 1
no-spaces-allowed = true
naming-convention = snake_case

per-file-ignores =
    **/*_test.py: D103, D100, D101, D102, N806
    **/*_fixtures.py: D103, D100, D101, D102, N806
