set editing-mode vi
set keymap vi-insert
# set show-all-if-unmodified on
set show-all-if-ambiguous on

# "\C-b": backward-char
# "(": "\C-v()\C-b"
# "[": "\C-v[]\C-b"
# "{": "\C-v{}\C-b"
# "\"": "\C-v\"\C-v\"\C-b"
# "\047": "\C-v\047\C-v\047\C-b"
