[FORMAT]
max-line-length=88

[MASTER]
# init-hook='import sys; sys.path.append("~/.pyenv/versions/3.10.5/lib/python3.10/site-packages/*")
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc())); sys.path.append('~/.pyenv/versions/global/bin/python3')"
