body {
    margin: 0;
    padding: 0;
}

.quarto-container {
    max-width: 100%;
    padding: 0;
}

h1,
h2,
h3 {
    color: #3d2b59;
}

body {
    color: #3d2b59;
    background: #f6f2ee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
