<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="title" content="Andres Monge | Python Technical Lead" />
    <meta name="description" content="Python Technical Lead specializing in machine learning, MLOps, and architectural design." />
    <title>Andres Monge | Python Technical Lead</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="avatar.png" alt="Andres Monge" class="avatar"/>
            <h2 class="name" onclick="showHome()">
                <a href="home.html" target="articleWrapper">Andres Monge</a>
            </h2>
            <a class="nav-item" target="_blank" href="python-tech-lead_andres-monge.pdf">
                download Resume/CV
            </a>
        </div>
        
        {{- range (datasource "nav") }}
        <details class="articles-nav" name="languages">
            <summary class="navigation-language">{{ .language }}</summary>
            {{- range .articles }}
            <details name="articles">
                <summary class="subcategory">
                    {{ .category }}
                </summary>
                {{- range .articles }}
                    <a class="link" href="{{ .url }}" target="articleWrapper">{{ .name }}</a>
                {{- end }}
            </details>
            {{- end }}
        </details>
        {{- end }}
    </div>
    <div class="iframe-container">
        <iframe id="content" name="articleWrapper" src="home.html"> </iframe>
    </div>
</body>
</html>
