@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**
 * Tabs on bottom
 */
vbox#titlebar {
    position: absolute !important;
    bottom: 0;
    width: 100vw;
    background-color: #b99a6c !important;
    border-top: 1px solid ThreeDShadow;
    display: inline-grid;
}

hbox#browser {
    margin-bottom: 38px;
}
[sizemode="fullscreen"] hbox#browser {
    margin-bottom: 0px;
}
